<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
    <link rel="stylesheet" href="{% static '/css/bootstrap.css/' %}">

</head>
<body>
<style>
    .shows__button {
        margin-top: 40px;
    }
    .detail__image {
        margin-top: 20px;
        margin-left: 250px;

    }
</style>
<div class="container">
    <a href="/shows/" class="btn btn-secondary shows__button">Back</a>
    <a href="/add-shows/" class="btn btn-secondary shows__button">Create New</a>
</div>
<img src="{{ show.image.url }}" class="detail__image" alt="">
<h2>{{ show.title }}</h2>
<p>{{ show.description }}</p>
<p>{{ show.genre }}</p>
<p>{{ show.quantity }}</p>
<p>{{ show.created_date }}</p>
<p>{{ show.updated_date }}</p>
<p>{{ show.age_control }}</p>
</body>
</html>