<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
    <link rel="stylesheet" href="{% static '/css/bootstrap.css/' %}">

</head>
<body>
<style>
    .shows__button {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .detail__image {
        height: 400px;
        object-fit: fill;

    }

    .show__card__body {
        background-color: #FFE53B;
        background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);
    }

    body {
        background-color: #FFE53B;
        background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);
    }
</style>
<div class="container">
    <a href="/shows/" class="btn btn-secondary shows__button">Back</a>
    <a href="/add-shows/" class="btn btn-secondary shows__button">Create New</a>
    <a href="/shows/{{ show.id }}/update/" class="btn btn-secondary shows__button">Change</a>
    <a href="/shows/{{ show.id }}/delete/" class="btn btn-secondary shows__button">Delete</a>
</div>
<div class="container">
    <div class="card">
        <img src="{{ show.image.url }}" class="card-img-top detail__image" alt="...">
        <div class="card-body show__card__body">
            <h5 class="card-title">{{ show.title }}</h5>
            <p class="card-text">{{ show.description }}</p>
            <p class="card-text">{{ show.genre }}</p>
            <p class="card-text">{{ show.quantity }}</p>
            <p class="card-text">{{ show.created_date }}</p>
            <p class="card-text">{{ show.updated_date }}</p>
            <p class="card-text">{{ show.age_control }}</p>
        </div>
    </div>
</div>
</body>
</html>